---
import NavbarContent from './NavbarContent.tsx';
import { supportedLanguages } from '../i18n';

const { t, m, title } = Astro.props;
const sup = await supportedLanguages();
const links = [
  { show: true, name: 'Home', path: 'home' },
  { show: true, name: 'Skills', path: 'skills' },
  { show: true, name: 'Top Projects', path: 'top-projects' },
  { show: true, name: 'Profile', path: 'profile' },
  { show: true, name: 'Contact', path: 'contact' },
]
---

<nav class=`fixed top-0 z-50 w-full  text-white shadow-md h-[${m.navbar_height}] px-[5%] py-[20px]`>
  <NavbarContent client:only="react" pageTitle={title} t={t} m={m} langs={sup} links={links}/>
</nav>
