---
import NavbarContent from './NavbarContent.tsx';
import { supportedLanguages } from '../i18n';

const { t, m, title } = Astro.props;
const sup = await supportedLanguages();
const base_path = import.meta.env.PUBLIC_BASE_PATH;
const links = [
  { show: true, name: t.navbar.home, path: 'home' },
  { show: true, name: t.navbar.skills, path: 'skills' },
  { show: false, name: t.navbar.top_projects, path: 'top-projects' },
  { show: true, name: t.navbar.profile, path: 'profile' },
  { show: false, name: t.navbar.hobbies, path: 'hobbies' },
  { show: true, name: t.navbar.contact, path: 'contact' },
];
---

<nav class=`fixed top-0 z-50 w-full  text-white shadow-md h-[${m.navbar_height}] px-[5%] py-[20px]`>
  <NavbarContent client:only="react" base_path={base_path} pageTitle={title} t={t} m={m} langs={sup} links={links}/>
</nav>
