---
import Layout from '../../layouts/MainLayout.astro';
import "../../styles/global.css";
import { getTranslation, getStaticPaths } from '../../i18n';
import { metrics } from '../../assets/metrics/metrics.ts';
import ContactForm from '../../components/forms/ContactForm';

export { getStaticPaths };

const { lang } = Astro.params as { lang: string };
const t = getTranslation(lang.toLocaleLowerCase());

---
<Layout pagekey="contact" title={t.contact.title} t={t} lang={lang} m={metrics}>
  <div class="container flex justify-center items-center w-full h-full text-white/80 ">
    <ContactForm client:only="react" t={t} />
  </div>
</Layout>
