---
import MainLayout from "../../../layouts/MainLayout.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "../../../i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<MainLayout t={t}>
    <div class="container mx-auto px-4 py-8 text-white">
        <h1 class="text-3xl font-bold mb-4">{t.policy.title}</h1>
        <p class="mb-4">{t.policy.last_updated}</p>

        <h2 class="text-2xl font-bold mb-2">{t.policy.introduction_title}</h2>
        <p class="mb-4">{t.policy.introduction_text}</p>

        <h2 class="text-2xl font-bold mb-2">{t.policy.cookies_title}</h2>
        <p class="mb-4">{t.policy.cookies_text}</p>

        <h2 class="text-2xl font-bold mb-2">{t.policy.data_title}</h2>
        <p class="mb-4">{t.policy.data_text}</p>
    </div>
</MainLayout>
