---
import Layout from '../../layouts/MainLayout.astro';
import "../../styles/global.css";
import { getTranslation, getStaticPaths } from '../../i18n';
import { metrics } from '../../assets/metrics/metrics.ts';
import { buyData } from '../../lib/data/DataDealer';

export { getStaticPaths };
const { lang } = Astro.params as { lang: string };
const t = getTranslation(lang);

interface Detail {
  show: boolean;
  type: "keyvalue" | "text" | "link"; // Puedes agregar más tipos si son necesarios
  key?: string; // Opcional para type "text"
  value?: string; // Opcional para type "link"
  platform?: string; // Solo para type "link"
  user?: string; // Solo para type "link"
}

interface Section {
  title: string;
  details: Detail[];
}

interface ExtraInsight {
  show: boolean;
  title: string;
  description: string;
}

export interface ProfileData {
  locale: string;
  name?: string;
  tagline: string;
  content: Section[];
  extra_insights: ExtraInsight[];
}

const profileData = await buyData('profile', lang) as ProfileData;
const { name, tagline, content, extra_insights } = profileData;

---
<!-- /home/user/Me/src/pages/[lang]/profile.astro -->
<Layout title={t.profile.title} t={t} m={metrics} >
  <div class="grid place-items-center mx-auto px-4 py-8 mt-[10%] xs:mt[15%] pr-[5dvh] text-white text-opacity-80 grid gap-8 grid-cols-1 xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">{name}</h1>
    <p class="text-xl md:text-2xl mb-8">{tagline}</p>

    {content.map((section) => (
      <section class="mb-8 leading-relaxed">
        <h2 class="text-2xl md:text-3xl relaway3 mb-4">{section.title}</h2>
        {section.details.map((detail) => (
          detail.show && (
            <div class="mb-2">
              {detail.type === "keyvalue" && detail.key && detail.value && (
                <p><strong class="font-medium">{detail.key}:</strong> {detail.value}</p>
              )}
              {detail.type === "text" && detail.value && (
                <p>{detail.value}</p>
              )}
              {detail.type === "link" && detail.platform && detail.user && (
                <p>{detail.platform}: <a href={`https://${detail.platform}.com/in/${detail.user}`} target="_blank" class="text-blue-400 hover:underline">{detail.user}</a></p>
              )}
            </div>
          )
        ))}
      </section>
    ))}

    {extra_insights.map((insight) => (
      insight.show && (
        <section class="mb-8 leading-relaxed">
          <h3 class="text-xl md:text-2xl font-medium mb-2">{insight.title}</h3>
          <p>{insight.description}</p>
        </section>
      )
    ))}
      </div>
</Layout>
