---
import Layout from '../../layouts/MainLayout.astro';
import SkillTabs from '../../components/skills/SkillTabs';
import timelineData from '../../assets/data/timeline.json';
import technologiesData from '../../assets/data/technologies.json';
import { getTranslation, getStaticPaths } from '../../i18n';
import { metrics } from '../../assets/metrics/metrics';

export { getStaticPaths };

const { lang } = Astro.params as { lang: string };
const t = getTranslation(lang.toLocaleLowerCase());
---

<Layout title={t.skills.title} t={t} lang={lang} m={metrics}>
  <div class="container mx-auto px-4 py-8">
    <SkillTabs client:load timelineData={timelineData} technologiesData={technologiesData} />
  </div>
</Layout>